# use glob syntax.
syntax: glob

CMakeFiles/
build/
src/server/shared/revision.h
build/
bin/
.directory
*.orig
*.rej
*~
.git/
.hg/
win/VC90/*/
*.ncb
*.suo
dep/lib/win32*
src/bindings/scripts/VC90/*/
src/mangosd/
src/realmd/
*.*-*
*.patch

# use regexp syntax.
syntax: regexp

^src/shared/revision\.h
